<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authentication mode="Forms">
            <forms loginUrl="Login.aspx" />
        </authentication>
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="aa.html" />
            </files>
        </defaultDocument>
    
         
     
    </system.webServer>
</configuration>
