.h2Styles
{
	visibility: visible;
	animation-name: fadeInDown;
	animation-delay: 0.3s;
	color: orange;
	margin-top:50px;
}

.service_secnd_sectn 
{
	padding-left: 20px;
	padding-top: 5px;
	display: block;
}

.about_service_descrptn
{
	padding: 0px 10px;
    width: 250px;
    height:200px;
}

.about_service_sect3
{
	border: 1px solid #c1c1c1;
    box-shadow: 0 0 10px rgba(0,0,0, .65);
    margin-top: 20px;
    width:250px;
}